<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular-Firebase</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen" title="no title" charset="utf-8">



    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">


    <!-- Angular Material requires Angular.js Libraries -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>

    <!-- Angular Material Library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


    <!--Your Firebase library  -->
    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <!--Your application bootstrap  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!--Firebase Library  -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>


    <script type="text/javascript" src="logic.js"></script>


  </head>
  <body ng-app="app">

    <div id="LandingPageCtrl" ng-controller="LandingPageCtrl" class="col m12">
      <md-toolbar>
        <div class="md-toolbar-tools" >
          <span>My App's Title</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <span>
            <!-- {{current_user}} -->
          </span>
        </div>
      </md-toolbar>

      <form name="userForm">
        <md-input-container>
          <label>Email</label>
          <input name="email" type="email" ng-model="email" required>
          <div ng-messages="userForm.email.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <input name="password" type="password" ng-model="password" required>
          <div ng-messages="userForm.passwords.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>


        <md-button ng-click="signIn()" class="md-raised"> Submit </md-button>
        <div class="status"></div>

      </form>

    </div>
  </body>
</html>


</head>
